<!DOCTYPE html>
<html>
    <head>
        <title>Proyecto final</title>
        <h1>Bienvenido a la cafeteria</h1>
    </head>
    <body>
        <form>


            <label>Donitas $25</label>
            <button type="button" class="boton-donitas">Agregar</button>
            <label>Cocacola $26</label>
            <button type="button" class="boton-soda">Agregar</button>
            <label>Sandwich $33</label>
            <button type="button" class="boton-sandwich">Agregar</button>
            <label>chicles $12</label>
            <button type="button" class="boton-chicles">Agregar</button>

        </form>
    </body>












</html>