<!DOCTYPE html>
<html>
    <head>
        <title>menu café</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="contenedor">
            <form>
            <h1>Menu de la cafeteria</h1>

                <label>Donitas $25</label>
                <button type="button" class="boton-formulario">Agregar</button>
                <label>Cocacola $26</label>
                <button type="button" class="boton-formulario">Agregar</button>
                <label>Sandwich $33</label>
                <button type="button" class="boton-formulario">Agregar</button>
                <label>chicles $12</label>
                <button type="button" class="boton-formulario">Agregar</button>

            </form>
        </div>
    </body>












</html>